{
    "plugins": [
        ["transform-es2015-modules-commonjs"],
        ["transform-react-jsx", {
            "pragma": "h"
        }],
        ["transform-object-rest-spread"]
    ],
     "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    }
}