{
    "plugins": [
        ["transform-es2015-modules-commonjs"],
        ["transform-react-jsx", {
            "pragma": "h"
        }]
    ],
     "env": {
        "test": {
            "plugins": [
                "istanbul",
                "transform-object-rest-spread"
            ]
        }
    }
}